GOOGLE_CLOUD_PROJECT=min-sung-jae-cloud
GOOGLE_CLOUD_PROJECT_NUMBER=684756448782
GOOGLE_CLOUD_LOCATION=global
GEMINI_ENTERPRISE_APP_ID=app-banking-advisory-app_1781761252022
GEMINI_ENTERPRISE_SERVING_CONFIG=default_search
