GOOGLE_CLOUD_PROJECT=min-sung-jae-cloud
GOOGLE_CLOUD_LOCATION=us-central1
USE_ORCHESTRATOR_AGENT=TRUE
QA_LOGGING_ENABLED=TRUE
BQ_LOG_DATASET=jeonse_agent_logs
BQ_LOG_TABLE=qa_audit_log
QA_MASKING_MODE=DLP
DLP_LOCATION=global
